@model List<QuanLyCuaHangSach.Models.PhieuNhap>


<form method="get">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Trang này Index nhé</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="PhieuNhap" asp-action="SearchSach" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Thêm phiếu nhập mới</a>
        </div>
    </div>

    <div style="height:150px; background-color:aliceblue" class="container">
        @* We will add search criteria *@
    </div>

    <br /><br />

    <div>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>Tên Sách</th>
                <th>Nhân viên</th>
                <th>Ngày nhập</th>
                <th>Số lượng</th>
                <th>Đơn giá nhập</th>
                <th>Mô tả</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => @item.Sach.TenSach)
                    </td>
                    <td>
                        @Html.DisplayFor(m => @item.NhanVien.Name)
                    </td>
                    <td class="custom-checkbox">
                        @item.NgayNhap.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(m => @item.SoLuong)
                    </td>
                    <td>
                        @{
                            double donGia = Convert.ToDouble(@item.SoLuong) * Convert.ToDouble(@item.Sach.Gia);
                        }
                        @Html.DisplayFor(m => @donGia)$
                    </td>
                    <td>
                        @Html.DisplayFor(m => @item.MoTa)
                    </td>
                    <td></td>
                </tr>

            }
        </table>
    </div>


</form>

@section Scripts{
    <script>$(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+3M"
            });
        });</script>
}