@model List<QuanLyCuaHangSach.Models.Sach>

@{
    ViewData["Title"] = "Trang chủ Cửa Hàng Bán Sách";
}

    <head>

        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="~/css/bookanimatecss/css/default.css" />
        <link rel="stylesheet" type="text/css" href="~/css/bookanimatecss/css/component.css" />
        <link rel="stylesheet" type="text/css" href="~/css/css/homepage.css" />
        <script src="~/css/bookanimatecss/js/modernizr.custom.js"></script>

    </head>

<div class="text-center">
    <h1 class="display-4">Xin chào đã đến với Website Bán Sách</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<br />

@*<div class="row">
    @foreach (var sach in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:23px; color:steelblue;">@sach.TenSach</label>
                    </h4>
                </div>

                <img class="card-img-top" style="height:100%" src="@sach.Anh" alt="Card Image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313"><b>@sach.Gia</b>/sq.ft</label>
                        </div>
                        <a asp-action="Details" asp-controller="Home" class="btn btn-success btn-outline-info" asp-route-id="@sach.IDSach">View Details</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>*@

<div class="row">
    @foreach (var sach in Model)
    {
     <div class="col-4" >

       
            <ul id="bk-list" class="bk-list clearfix">
                <li>
                    <div class="bk-book book bk-bookdefault">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@sach.IDSach"></a>
                        <div class="bk-front">
                            <div class="bk-cover-back"></div>
                            <div class="bk-cover">
                                <img src="@sach.Anh" style="background-repeat: no-repeat;background-position: center;background-size: 20%;background-attachment:fixed;height:100%;width:100%" />
                            </div>
                        </div>
                        <div class="bk-page">
                            <div class="bk-content bk-content-current">
                                <p>Oceanic flyingfish spotted danio fingerfish leaffish, Billfish halibut Atlantic cod threadsail poacher slender mola. Swallower muskellunge, turbot needlefish yellow perch trout dhufish dwarf gourami false moray southern smelt cod dwarf gourami. Betta blue catfish bottlenose electric ray sablefish.</p>
                            </div>
                            <!--<div class="bk-content">
            <p>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
        </div>
        <div class="bk-content">
            <p>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish.</p>
        </div>-->
                        </div>
                        <!--<div class="bk-back">
        <img src="images/3.png" alt="cat"/>
        <p>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school. Navigating his way through the challenges of growing up, Holden dissects the 'phony' aspects of society.</p>
    </div>-->
                        <div class="bk-right"></div>
                        <div class="bk-left">
                            <h2>
                                <span>@sach.TenSach</span>
                                <span>@sach.TacGia.TenTacGia</span>
                            </h2>
                        </div>
                        <div class="bk-top"></div>
                        <div class="bk-bottom"></div>
                    </div>
                    <div class="bk-info">
                        <!--<button class="bk-bookback">Flip</button>-->
                        <a asp-action="Details" asp-controller="Home" class="btn btn-success btn-outline-info" asp-route-id="@sach.IDSach">View Detail</a>
                        <h3>
                            <span>@sach.TacGia.TenTacGia</span>
                            <span>@sach.TenSach</span>
                        </h3>
                        <h4>Số lượng sẵn có: @sach.SoLuongCoSan</h4>
                    </div>
                </li>
            </ul>
      </div>
    }
    </div><!-- /container -->
       


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/books1.js"></script>
<script>
    $(function () {

        Books.init();

    });
</script>


